<div class="commentContent">
	{{ family.comment.text}}
	<div class="commentSignatur">
		<span class="commentUser">by {{family.comment.username}}</span>
		<span class="commentOption" title="edit"><i class="fa fa-pencil"></i></span>
		<span class="commentOption" title="reply" ng-click="reply = true"><i class="fa fa-reply"></i></span>
	</div>
	<comeditor line="family.comment.ref_line" parent="family.comment.id" submitreply="submitreply" ng-show="reply"></comeditor>
</div>
<div class="commentContainer" ng-if="family.children.length > 0">
    <div ng-repeat="child in family.children">
        <tree family="child"></tree>
    </div>
<div>