<div class="header">
  <ul class="header">
  	<li>
  		<div class="logo"></div>
  	</li>
  	<li>
  		<a ng-href="/">Mathub</a>
  	</li>
  	<li>
  		<form>
  			<input placeholder="Search something ..."></input>
  		</form>
  	</li>
    <li>
    	<a ng-href="#/search">Browse</a>
    </li>
    <li>
    	<a ng-href="#/about">About</a>
    </li>
    <li>
    	<a ng-href="/">Blog</a>
    </li>
    <li>
    	<a ng-href="/">Contact</a>
    </li>
    <li>
    	<img src="images/yeoman.png" class="avatar"><br>
    </li>
    <li>
    	<a class="username" ng-href="#/profile">Username</a>
    </li>
  </ul>
</div>