<div class="header">
  <ul class="header">
  	<li>
  		<div class="logo"></div>
  	</li>
  	<li>
  		<a class="link" ng-href="/">Mathub</a>
  	</li>
  	<li>
  		<form>
  			<input placeholder="Search something ..."></input>
  		</form>
  	</li>
    <li>
    	<a class="link" ng-href="#/search">Browse</a>
    </li>
    <li>
    	<a class="link" ng-href="#/about">About</a>
    </li>
    <li>
    	<a class="link" ng-href="/">Blog</a>
    </li>
    <li>
    	<a class="link" ng-href="/">Contact</a>
    </li>
    <li>
    	<img src="images/yeoman.png" class="avatar"></img>
    </li>
    <li>
    	<a class="username" ng-href="#/profile">Username</a>
    </li>
    <li>
    	<a ng-href="#/inbox">
    		<img src="images/inbox.jpg" class="inbox"></img>
    	</a>
    </li>
    <li>
    	<a ng-href="#/settings">
    		<img src="images/settings.png" class="settings"></img>
    	</a>
    </li>
  </ul>
</div>