<div class="header">
  <ul class="header">
  	<li>
      <a ng-href="#/">
        <img src="images/logo.jpg" class="logo"></img>
      </a>
  	</li>
  	<li>
  		<form>
  			<input queryenter="redirectquery()" placeholder="Search something ..." type="text" ng-model="querydata"></input>
  		</form>
  	</li>
    <li>
    	<a class="link" ng-href="#/search">Browse</a>
    </li>
    <li>
    	<a class="link" ng-href="#/about">About</a>
    </li>
    <li>
    	<a class="link" ng-href="#/blog" >Blog</a>
    </li>
    <li>
    	<a class="link" ng-href="#/contact">Contact</a>
    </li>
    <li ng-if="loggedIn">
    	<a class="avatar" ng-href="#/profile">
        <div class="settings fa fa-user fa-2x"></div>
      </a>
    </li>
    <li ng-if="loggedIn">
    	<a class="username" ng-href="#/profile">{{userName}}</a>
    </li>
    <li ng-if="loggedIn">
    	<a ng-href="#/inbox">
        <div class="inbox fa fa-inbox fa-2x"></div>
    	</a>
    </li>
    <li ng-if="loggedIn">
    	<a ng-href="#/settings">
    		<div class="settings fa fa-cog fa-2x"></div>
    	</a>
    </li>
    <li ng-if="!loggedIn">
      <a class="signup" ng-href="#/login"><div class="signin fa fa-sign-in fa-2x"></div></a>
    </li>
  </ul>
</div>