<matheader></matheader>
<table>
		<tr ng-repeat="thing in tex track by $index">
			<td class="linesection">
				<span>{{$index +1}}</span>
			</td>
			<td class="codesection">
				<span class="commentCode">{{thing}}</span>
			</td>
			<td class="commentsection">
				<div class="commentContainer" ng-repeat="commentTree in comments">
					<tree ng-if="commentTree.comment.ref_line === $parent.$index" family="commentTree" userid="userid" submitreply="submitreply"></tree>
				</div>
				<span class="commentOptionTop" title="reply" ng-show="!reply" ng-click="reply = true">Comment <i class="fa fa-reply"></i></span>
				<comeditor line="$index" parent="0" submitreply="submitreply" userid="userid" reply="reply" ng-show="reply"></comeditor>
			</td>
		</tr>
</table>