<matheader></matheader>
<div class="editDescriptor">
	{{university}} / {{lecture}} /
	<tag ng-if="assignment !== ''">
		{{assignment}} /
	</tag>
	<tag ng-if="data.name !== ''">
			{{data.name}}
	</tag>
	<tag ng-if="data.name === '' || mode === 'sol' ">
		{{data.id}}
	</tag>
	<span class="editcontrol">
		<span ng-click="saveTex()" title="save"><i class="fa fa-floppy-o"></i></span>
		<span ng-click="showVersions()" title="versions"><i class="fa fa-history"></i></span>
		<span ng-click="view()" title="view"><i class="fa fa-eye"></i></span>
		<span ng-click="showComments()" title="comments"><i class="fa fa-comments"></i></span>
	</span>
</div>

<div>

	<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="tex"></ui-codemirror>

	<latex data="tex"></latex>
</div>
